@media (min-width: 1500px) {
  .container {
    max-width: 1500px;
  }
}

@media (max-width: 1500px) {
  .addr-map-col:nth-of-type(even),
  .addr-map-col {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .addr-service .addr-heading {
    margin-left: -15px;
  }

  .header-nav-sub-list {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .addr-time-item {
    padding: 10px 0px 10px;
  }

  .addr-service-item-btn {
    padding-left: 60px;
  }

  .addr-map-col:nth-of-type(even) {
    justify-content: center;
  }

  .addr-map-time {
    margin-left: 0 !important;
  }

  .addr-service {
    padding-left: 15px;
    padding-right: 15px;
  }

  .addr-service-list {
    margin-top: 15px;
    margin-left: -15px;
    margin-right: -15px;
  }

  .addr-service-item {
    padding-left: 15px;
    padding-right: 15px;
  }

  .addr-service-item-btn {
    font-size: 14px;
    background-size: auto 25px;
    width: 100%;
  }

  .datepicker--cell-day {
    height: 35px;
    font-size: 14px;
  }

  .addr-map-col {
    flex: 0 0 100%;
    max-width: 100%;

    display: flex;
    justify-content: center;
  }

  .addr-map-time {
    margin-top: 0;
    margin-left: 15px;
    background-position: 0 4px;
  }

  .addr-map-col:first-child {
    margin-bottom: 10px;
  }

  .addr-collectData,
  .addr-success {
    padding: 20px;
  }

  .addr-map-col:first-child {
    margin-bottom: 10px;
  }

  .addr-map-col {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
  }

  .addr-map-link {
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .addr-map-col {
    flex-wrap: wrap;
  }

  .addr-map-city,
  .addr-map-time {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .catalog-product-foot {
    flex-direction: column;
    align-items: flex-start;
  }

  .reviews-show-item {
    margin-bottom: 15px;
  }

  .serivce-goto {
    flex-direction: column;
  }

  .catalog-product-foot {
    align-items: flex-end;
  }

  .serivce-goto .button-border {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .vac-content-foot {
    flex-direction: column;
  }

  .vac-content-hint,
  .vac-content-btns {
    flex: unset;
    max-width: none;
  }

  .vac-content-btns {
    margin-top: 15px;
  }

  .vac-detail-image {
    max-width: 80%;
  }

  .header-nav-sub {
    flex-direction: column;
  }

  .header-nav-link {
    border-radius: 10px;
  }

  .header > .container {
    max-width: 100%;
  }

  .header-links {
    padding-top: 0;
    padding-left: 15px;
  }

  .header-links-link {
    font-size: 14px;
    margin-right: 15px;
  }

  .footer-shape {
    top: 0;
    height: 100%;
    max-width: none;
    opacity: 0.3;
    right: 0;
  }

  .row-header {
    align-items: center;
  }

  .contact-item {
    height: 100%;
    padding-right: 80px;
  }

  .header-nav-link {
    padding: 11px 9px 9px;
    font-size: 14px;
  }

  .header-nav-drop::before {
    top: 11px;
    left: calc(50% + 18px);
    width: 9px;
    height: 9px;
  }

  .header-nav-drop:hover::before {
    top: 17px;
  }

  .contact-title,
  .contact-desc {
    position: relative;
    z-index: 2;

    text-shadow: 0 0 3px #000;
  }

  .contact-title {
    white-space: nowrap;
  }

  .contact-icon {
    bottom: -9px;
    right: -19px;
    max-width: none;
    height: 85px;
  }

  .section-seo {
    background-size: 50% auto;
    background-position: right 0;

    margin-top: 80px;
    padding-top: 0;
  }

  .col-stock-item {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 30px;
  }

  .catalog-product-head {
    margin-bottom: 30px;
  }

  .catalog-product-deli {
    text-align: left;
  }

  .section-heading {
    font-size: 44px;
  }

  .section-top {
    background-position-x: -166px;
  }

  .catalog-product-item {
    height: 100%;
    margin-bottom: 0;
  }

  .col-service-item {
    margin-bottom: 30px;
  }

  .catalog-product-body {
    padding: 15px;
  }

  .online-icon {
    max-width: 50px;
    top: 15px;
    right: 15px;
  }
}

@media (max-width: 1200px) {
  .section-heading {
    font-size: 36px;
  }

  .catalog-product-foot {
    align-items: center;
  }

  .online {
    padding: 30px 15px;
  }

  .online-title {
    padding-right: 60px;
    font-size: 13px;
  }

  .online-desc {
    font-size: 12px;
    margin-bottom: 15px;
  }

  .online .button-hover {
    padding: 10px 20px;
  }

  .online-btn {
    margin-top: 0;
  }

  .stock-content-image {
    max-width: 50%;
    margin-bottom: 20px;
  }

  .header-links {
    display: none;
  }

  .footer-shape {
    width: auto;
    height: 200px;

    top: unset;
    bottom: 0;
  }

  .section-top {
    background-position-x: -243px;
  }

  .service-button {
    position: static;
  }

  .service-item-last .service-desc {
    margin-bottom: 15px;
  }

  .catalog-product-item {
    flex-direction: column;
  }

  .catalog-product-photo,
  .catalog-product-body {
    flex: unset;
    max-width: none;
  }

  .catalog-product-body {
    height: 100%;
  }

  .catalog-product-photo {
    padding-bottom: 240px;
  }

  .reviews-show {
    display: flex;
    flex-direction: column;
  }
  
  .reviews-show-item {
    margin-bottom: 10px;
  }

  .catalog-pagination-item {
    flex: 0 0 40px;
    max-width: 40px;
    height: 40px;
  }

  .leave-review-block {
    padding-left: 0;
    padding-right: 0;
  }
}


@media (max-width: 991px) {
  .col-contact-cities {
    order: 2;
    margin-top: 30px;
  }

  .contacts-addr-item {
    padding: 15px;
  }

  .contacts-icon {
    flex: 0 0 48px;
    max-width: 48px;
    text-align: center;
  }

  .col-contact-map {
    order: 1;
  }

  .col-contact-service {
    order: 3;
    margin-top: 30px;
  }

  .contacts-item {
    margin-bottom: 30px;
  }

  .addr-success-image {
    max-width: 100px;
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .contacts-addr-item {
    padding: 15px;
  }

  .addr-time {
    width: 290px;
  }

  .addr-time-item {
    padding: 7px 0;
    font-size: 14px;
  }

  .app-steps-list {
    margin-bottom: 30px;
  }

  .addr-map-bar {
    font-size: 12px;
  }

  .contacts-addr-name {
    font-size: 14px;
  }

  .app-step {
    font-size: 16px;
    background-size: 10px;
    padding-left: 20px;

    align-items: flex-start;
  }

  .datepicker--cell-day {
    height: 29px;
  }

  .datepicker-inline .custom-picker {
    width: 266px;
  }

  .app-step-count {
    font-size: 20px;
    flex: 0 0 20px;
    max-width: 20px;
    margin-right: 5px;
  }

  .app-step-name {
    padding-top: 2px;
    position: static;
  }

  .addr-map {
    height: 350px;
  }

  .zapis-map {
    height: 500px;
  }

  .review-item-user {
    flex: 0 0 80px;
    max-width: 80px;
  }

  .review-item-body {
    flex: 0 0 calc(100% - 80px);
    max-width: calc(100% - 80px);
}

  .scores-col {
    order: 1;
  }

  .reviews-col {
    order: 2
  }

  .detail-score-sticky {
    padding: 30px;

    margin-bottom: 50px;
  }

  .detail-score-desc {
    font-size: 12px;
  }

  .review-controls .catalog-pagination {
    flex: 0 0 100%;
    max-width: 100%;
    justify-content: center;
    margin-bottom: 30px;
  }

  .review-controls {
    margin-left: 0;
    flex-wrap: wrap;
    justify-content: center;
  }

  .reviews-inner {
    font-size: 14px;
  }

  .header-nav-sub {
    position: static;
    border-radius: 0%;
    box-shadow: none;
    display: block !important;
  }

  .header-nav-drop.hover .header-nav-link {
    border-radius: 0;
  }

  .header-nav-side {
    display: none;
  }

  .header-nav-sub-list {
    background-color: transparent;
    padding: 15px 15px 0 15px;
    columns: unset;
  }

  .header-nav-sub-link:nth-of-type(odd),
  .header-nav-sub-link {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .header-nav-sub-link {
    color: #fff;
    font-size: 14px;
    padding-left: 15px;
  }

  .r-nav {
    display: flex;
    flex: 0 0 100%;
    max-width: 100%;
    /* flex-wrap: wrap; */
    flex-direction: column;
    
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 0;
    padding-bottom: 17px;

    order: 0
  }

  .r-nav-item {
    /* flex: 0 0 50%;
    max-width: 50%; */
    margin-bottom: 20px;
  }

  .header-nav-item {
    order: 1;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .r-nav-item:last-child {
    margin-bottom: 0;
  }

  .r-nav-item .header-info-link {
    font-size: 14px;
    font-weight: var(--book);
    color: #fff;
  }

  .r-nav-item .header-info-desc {
    font-size: 11px;
    color: #fff;
    white-space: nowrap;
    margin-top: 6px;
  }

  .r-nav-item .header-info-icon {
    flex: 0 0 24px;
    max-width: 24px;
    justify-content: center;
  }

  .r-nav-item .header-info-body {
    align-items: flex-start;
    justify-content: flex-start;
    /* padding-left: 13px; */
    padding-left: 9px;
  }

  .product-service {
    text-align: center;
  }

  .product-service .catalog-product-photo {
    background-size: cover;
  }

  .col-vac-side::before {
    display: none;
  }

  .vac-content-detail {
    margin-left: 0;
  }

  .vac-side {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .section-vac {
    padding-top: 120px;
  }

  .section-vac-col {
    padding-bottom: 15px;
  }

  .slider-controls {
    top: 40%;
  }

  .online {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
  }

  .slider-nav {
    width: 30px;
    height: 30px;
  }

  .page-wrap {
    margin-top: 64px;
  }

  .r-item {
    display: block;
  }

  .r-header-logo {
    flex: 0 0 64px;
    max-width: 64px;
    height: 64px;

    margin-left: -15px;

    background-image: url(../images/logo-min.svg);
    background-size: 40px;
    background-position: center center;
    background-repeat: no-repeat;

    background-color: var(--accent);

    z-index: 2;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
  }

  .header {
    z-index: 7;
    position: fixed;
    padding: 0;

    background-color: var(--dark-light);
  }
  
  .header-logo {
    display: none;
  }

  .header-nav {
    position: fixed;
    top: 67px;
    right: -280px;
    bottom: 0;
    width: 280px;

    padding-top: 15px;
    padding-bottom: 30px;

    background-color:var(--dark-light);

    display: flex;
    flex-direction: row;

    transition: all .2s ease;

    border-top: 1px solid #6e6e6e;

    overflow-y: auto;
  }

  .header-nav-drop .header-nav-link {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .state-nav .header-nav {
    right: 0;
  }

  .header-nav-link img {
    display: none;
  }

  .header-nav-link {
    color: #fff;
    font-size: 16px;
    padding: 14px 15px 12px 15px;
    position: relative;
  }

  .header-vac .header-nav-link:hover {
    background-color: var(--accent);
    color: #fff;
    border-radius: 0;
  }

  .header-nav-link:hover .header-nav-icon {
    fill: #fff;
  }

  .header-nav-drop .header-nav-link {
    background-image: none;
  }

  .header-nav-drop .header-nav-link::after {
    position: absolute;
    content: '';
    top: 36%;
    right: 25px;

    width: 10px;
    height: 10px;
    
    border-width: 1px 1px 0 0;
    border-color: #b0b0b0;
    border-style: solid;

    transform: rotate(135deg);

    transition: all .2s ease;
  }

  .header-nav-link:hover::after {
    border-color: #fff;
  }

  .header-nav-drop::before {
    display: none;
  }

  .header-nav-drop.hover .header-nav-link,
  .header-nav-drop:hover .header-nav-link {
    background-color: var(--accent);
    color: #fff
  }

  .iden-logo {
    position: absolute;
    bottom: 0;
    right: 15px;
  }

  .col-contact-item {
    margin-bottom: 30px;
  }

  .footer-copyright {
    padding-right: 115px;
  }

  .contact-icon {
    bottom: 20px;
    right: 30px;
  }

  /* .section-top::before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    background-color: #fff;

    opacity: 0.7;

    pointer-events: none;
  } */

  .section-seo {
    position: relative;
  }

  .section-seo::before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    background-color: #fff;

    opacity: 0.7;

    pointer-events: none;
  }
  
  .section-seo > .container {
    position: relative;
  }

  .stock-title {
    font-size: 18px;
  }

  .section-top-side {
    padding-top: 40px;
  }

  .section-top {
    background-position-x: -104px;
  }

  .row-item {
    margin-top: 30px;
  }

  .r-header-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    flex: 0 0 100%;
    max-width: 100%;
  }

  .r-header-item {
    flex: 0 0 26px;
    max-width: 26px;
    height: 26px;

    margin-right: 15px;
  }

  .r-header-item:last-child {
    margin-right: 0;
  }

  .r-header-item img {
    width: 100%;
  }

  .r-header-item {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }

  .r-header-phone {
    background-image: url(../images/phone-light.svg);
  }

  .r-header-map {
    background-image: url(../images/maps-and-flags.svg);
  }

  .r-header-online {
    background-image: url(../images/content-writing.svg);
  }

  .r-header-flex {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    display: flex;
    align-items: center;

    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 768px) {
  .addr-form-label {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .addr-form {
    margin-top: 20px;
  }

  .addr-form-input {
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 8px;
    padding-left: 95px;
  }

  .addr-form-label-abs {
    font-size: 14px;
    top: 11px;
    left: 25px;
  }

  .review-user-letter {
    font-size: 45px;
    line-height: 100%;
  }

  .catalog-nav-item {
    margin: 0;
  }

  .catalog-pagination-item {
    font-size: 16px;
  }

  .review-item-user {
    flex: 0 0 50px;
    max-width: 50px;
  }

  .review-item-body {
    flex: 0 0 calc(100% - 50px);
    max-width: calc(100% - 50px);
  }

  .stock-item {
    flex-direction: column;
  }

  .vac-image {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .vac-status {
    font-size: 18px;
  }

  .online .button-hover {
    padding-top: 16px;
    padding-bottom: 15px;
  }

  .vac-body {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .vac-item {
    height: auto;
  }

  .vac-foot {
    margin-top: 30px;
  }

  .service-detail {
    font-size: 14px;
  }

  .service-detail h3 {
    font-size: 16px;
  }

  .table-service td,
  .table-service th {
    font-size: 12px;
  }

  .table-service td:not(:first-child),
  .table-service th:not(:first-child) {
    width: auto;
  }

  .table-service th,
  .table-service td {
    padding: 10px;
  }

  .stock-content-image {
    max-width: 100%;
    float: none;
  }

  .btns-middle {
    margin-top: 21px;
  }

  .section-seo {
    font-size: 14px;
  }

  .section-seo h3 {
    font-size: 18px;
  }

  .section-seo {
    background-image: none;
  }

  .stock-image,
  .stock-body {
    flex: unset;
    max-width: none;
  }

  .stock-head {
    margin-bottom: 30px;
  }

  .slider-top-controls {
    width: 90px;
    font-size: 24px;

    position: static;
    width: 100%;
    padding: 30px;

    flex-direction: row;
    justify-content: space-between;
  }

  .slider-top-counter {
    position: static !important;
    width: auto !important;
  }

  .slider-top-nav-prev {
    margin-right: 20px;
  }

  .slider-top-nav-item {
    background-position: 0 0;
    background-size: contain;
    width: 13px;
    height: 24px;
  }

  .section {
    margin-top: 50px;
  }

  .section-seo {
    padding-bottom: 0;
  }

  .section-vac {
    padding-top: 50px;
    margin-top: 64px;
  }

  .vac-content,
  .vac-content-hint-text {
    font-size: 14px;
  }

  .vac-content-hint-icon {
    flex: 0 0 40px;
    max-width: 40px;
  }

  .vac-content-hint-text {
    padding-left: 15px;

    flex: 0 0 calc(100% - 40px);
    max-width: calc(100% - 40px);
  }

  .vac-content-btns {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 576px) {
  .vac-foot {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .vac-earn {
    margin-bottom: 25px;
  }

  .vac-head {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .vac-name {
    font-size: 18px;
  }

  .vac-detail {
    margin-bottom: 0;
  }

  .col-feedback {
    margin-bottom: 15px;
  }

  .input-styles {
    height: 44px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
  }

  .row-feedback {
    margin-top: 30px;
  }

  .feedback-hint {
    margin-top: 0;
    font-size: 12px;
  }

  .default-check {
    margin-right: 10px;
  }

  .feedback-agree span {
    font-size: 14px;
  }

  .breadcrumbz-item {
    margin-bottom: 5px;
  }

  .row-online-app {
    padding-bottom: 30px;
    margin-bottom: 0;
  }

  .contacts-req {
    padding-bottom: 90px;
  }

  .contacts-addr-list {
    max-height: 380px;
  }

  .contacts-item {
    height: auto;
  }

  .stock-content-image {
    margin-right: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 480px) {
  .section-heading {
    font-size: 24px;
  }

  .vac-detail-image {
    max-width: 55%;
  }

  .slider-top-inner::before {
    display: none;
  }

  .slider-top-inner {
    margin-left: -15px;
    margin-right: -15px;
  }

  .col-service-item {
    margin-bottom: 0;
  }

  #selectAddr {
    overflow: visible;
    margin-bottom: 0;
    min-height: 400px;
    height: auto;
  }

  .addr-overlay {
    position: static;
    border-bottom: 1px solid #f3f4f4;
  }

  .row-online-app {
    padding-bottom: 0;
  }

  .section-vac-end {
    display: block;
    text-align: center;
  }

  .addr-overlay #addSelectPoint {
    height: 350px;
  }

  .contacts-page {
    margin-top: 0;
  }

  .addr-map-bar .button-border {
    text-align: center;
  }

  .datepicker-inline .custom-picker {
    width: 290px;
  }

  .datepicker--cell-day {
    height: 32px;
  }

  .addr-form-label {
    margin-bottom: 10px;
  }

  .addr-form-label-abs {
    top: 17px;
  }

  .button-default:not(.button-arrow) {
    text-align: center;
  }

  .service-content {
    margin-bottom: 30px;
  }

  .online-icon {
    max-width: 80px;
  }

  .online-title {
    font-size: 16px;
  }

  .online-foot {
    margin-top: 30px;
  }

  .addr-form-input {
    padding-top: 0;
    padding-bottom: 0;
    height: 47px;
    line-height: 49px;
  }

  select.addr-form-input {
    background-image: url(../images/zapis/arrow-down-gray.svg);
  }

  .addr-map-col:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 5px;
    padding-bottom: 5px;

    font-size: 14px;
  }

  .addr-map-city, .addr-map-time {
    font-size: 14px;
    margin-bottom: 5px;

    flex: unset;
    max-width: none;
  }

  .row-slider-top {
    margin-top: 80px;
  }

  .feedback-agree span {
    font-size: 11px;
  }

  .addr-service-item:nth-of-type(even),
  .addr-service-item {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .row-points {
    margin-top: 15px;
  }

  .contacts-req {
    padding-bottom: 30px;
  }

  .contacts-req-info {
    font-size: 14px;
  }

  .contacts-addr-item {
    padding: 10px 10px 10px 0;
  }

  .points-heading {
    font-size: 18px;
  }

  .contacts-addr {
    margin-left: -15px;
    margin-right: -15px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .contacts-addr-list::-webkit-scrollbar {
    width: 5px;
  }

  .button-tel {
    margin-right: 10px;
  }

  .contacts-addr-button {
    flex: 0 0 40px;
    max-width: 40px;
    width: 40px;
    height: 40px;
    background-size: 12px;
  }

  .addr-map-change-point,
  .addr-map-change-date {
    margin-right: 0;
    margin-bottom: 15px;
  }
  
  .addr-map-button {
    text-align: center;
  }

  .addr-service-list {
    overflow-y: auto;
    max-height: 333px;
    margin-bottom: 15px;
    margin-right: 1px;
  }

  .addr-service-item-btn {
    padding-right: 15px;
    font-size: 12px;
  }

  .addr-map {
    margin-left: -15px;
    margin-right: -15px;
    border-radius: 0 !important;
    margin-bottom: 150px;
  }

  .addr-map-link {
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;
    margin-bottom: 10px;
  }

  .zapis-map {
    height: 300px;
  }

  .addr-map-bar {
    position: relative;
    top: unset;
    left: unset;
    bottom: unset;
    right: unset;

    padding: 15px 10px;

    border-radius: 0;
  }

  .page-reviews {
    margin-bottom: 0;
  }

  .leave-review-agree {
    font-size: 12px;
  }

  .leave-review-agree span {
    padding-left: 15px;
  }

  .leave-review-submit {
    margin-top: 0;
  }

  .leave-review-row, .leave-review-rate {
    margin-bottom: 15px;
  }

  .leave-review-form-helper {
    font-size: 12px;
  }

  .leave-review-row, .leave-review-rate {
    margin-bottom: 15px;
  }

  .leave-review-input {
    padding: 14px 15px;
    font-size: 12px;
  }

  .leave-review-row {
    margin-bottom: 15px;
  }

  .review-item {
    padding-bottom: 0;
    margin-bottom: 25px;
  }

  .review-list {
    margin-top: 30px;
  }

  .review-content-title {
    margin-bottom: 5px;
  }

  .review-item-user {
    display: none;
  }

  .review-item-body {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .catalog-pagination-item {
    flex: 0 0 35px;
    max-width: 35px;
    height: 35px;
  }

  .vac-content-hint-text {
    font-size: 11px;
  }

  .vac-content-detail {
    padding: 15px;
  }
  
  .vac-body {
    padding-left: 15px;
    padding-right: 15px;

    font-size: 12px;
  }

  .checklist-vac {
    margin-top: 30px;
    margin-bottom: 50px;
  }

  .checklist-item {
    padding-left: 25px;
    background-size: 15px;
    background-position: 0 4px;
  }

  .slider-controls {
    top: 42%;
  }

  .page-news {
    margin-bottom: 50px;
  }

  .breadcrumbz {
    margin-bottom: 15px;
  }

  .breadcrumbz-item {
    font-size: 12px;
  }

  .catalog-product-deli {
    display: none;
  }

  .top-list {
    margin-top: 73%;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 0;
  }

  .top-list-item {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  .section-top {
    background-size: 125%;
    background-position: -116px 131px;
  }

  .service-item:not(.service-item-last)::before {
    display: none;
  }

  .service-item:not(.service-item-last):hover {
    background-image: none;
  }
  
  .col-service {
    margin-bottom: 15px;
  }

  .header-nav {
    width: 100%;
    right: -100%;
  }

  .state-nav .header-nav {
    right: 0;
  }

  .section-top {
    padding-top: 0;
  }

  .footer-links {
    align-items: center;
  }

  .footer-link {
    font-size: 13px;
  }

  .footer-follow-social img {
    max-width: 80%;
  }

  .footer-follow-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-shape {
    bottom: 96px;
  }

  .footer-copyright {
    font-size: 12px;
    margin-top: 250px;
  }

  .footer-follow-social {
    margin-right: 10px;
  }

  .footer-follow-social:last-child {
    margin-right: 0;
  }

  .footer {
    padding-top: 50px;
    padding-bottom: 30px;
  }

  .contact-form {
    font-size: 14px;
  }

  .contact-form-agree {
    font-size: 11px;
  }

  .footer-col {
    display: flex;
    justify-content: center;
  }

  .footer-links {
    justify-content: center;
  }

  .contact-desc {
    font-size: 12px;
  }

  .contact-icon {
    height: 55px;
  }

  .input-style {
    width: 100%;
    margin-bottom: 15px;
  }

  .input-style:last-child {
    margin-bottom: 0;
  }

  .contact-item {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;

    border-radius: 15px;
  }

  .contact-icon {
    right: 15px;
    bottom: 15px;
  }

  .btns-middle .button-default {
    justify-content: center;
    text-align: center;
    margin-bottom: 15px;
  }

  .col-stock-item {
    flex: 0 0 100%;
    max-width: 100%;

    padding-left: 15px;
    padding-right: 15px;
  }

  .stock-item {
    margin-bottom: 30px;
    height: auto;
  }

  .row-stock {
    margin-left: -15px;
    margin-right: -15px;
  }

  /* .row-stock {
    margin-left: -20px;
    margin-right: -20px;
  } */

  .stock-body::before {
    border-width: 0 0 30px 30px;
  }

  .stock-title {
    font-size: 14px;
  }

  .stock-desc {
    font-size: 12px;
  }
  
  .catalog-product-photo {
    padding-bottom: 100%;
    background-size: auto 80%;
  }

  .col-service-item {
    padding-left: 0;
    padding-right: 0;
  }

  .catalog-product-item {
    border: none !important;
  }

  .top-list-name {
    padding-left: 15px;
  }

  .catalog-product-body {
    box-shadow: inset 0 0 1px rgba(0,0,0, .5);
  }

  .top-list-icon {
    flex: 0 0 30px;
    max-width: 30px;
  }

  .top-list-name {
    flex: 0 0 calc(100% - 30px);
    max-width: calc(100% - 30px);

    font-size: 13px;
  }

  .button-default {
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;

    width: 100%;
    display: block;
  }

  .catalog-product-name {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .catalog-product-price {
    font-size: 14px;
  }

  .slider-top-controls {
    padding: 15px;
    font-size: 16px;
    align-items: center;
  }

  .catalog-product-price i.rub {
    font-weight: 500;
    font-size: 90%;
  }

  .catalog-product-price span {
    font-size: 16px;
  }

  .catalog-product-deli {
    font-size: 9px;
  }

  .catalog-product-name img {
    display: none;
  }

  .catalog-product-info {
    font-size: 12px;
  }

  .catalog-product-foot {
    align-items: unset;
  }

  .button-arrow {
    padding-right: 30px;

    background-position: calc(100% - 15px) 50%;
    background-size: 14px;
  }

  .top-button {
    width: auto;
    display: table;
    padding-right: 40px;

    margin-left: auto;
    margin-right: auto;
  }

  .section-vac-col {
    margin-bottom: 30px;
  }

  .service-name {
    font-size: 18px;
  }

  .service-desc {
    font-size: 12px;
  }

  .service-item {
    padding: 15px;
    min-height: 150px;
  }

  .service-icon {
    flex: 0 0 66px;
    max-width: 66px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .service-icon img {
    /* transform: none; */
    max-height: 80px;
  }

  .stock-item {
    height: 100%;
    flex-wrap: unset;
  }

  .stock-image {
    padding-bottom: 69.4%;
  }

  .stock-body {
    padding: 15px 15px 30px 15px;
    height: 100%;
  }

  .btns-middle .button-default:not(:last-child) {
    margin-right: 0;
  }

  .service-body {
    padding-left: 15px;
    flex: 0 0 calc(100% - 66px);
    max-width: calc(100% - 66px);
  }

  .section-advantage-services {
    margin-top: 0;
    margin-bottom: 0;
  }

  .vac-li-item {
    background-position: 0 2px;
  }

  .section-stock-services {
    margin-bottom: 50px;
    margin-top: 20px;
  }

  .section-contacts {
    padding-top: 50px;
    padding-bottom: 30px;
  }

  .row-contacts {
    margin-top: 0;
  }

  .contact-form {
    padding-top: 0;
  }
}